In [1]:
#indentation
if True:
  print ("This is my second class of python")

#comments

This is my second class of python

In [3]:
name = 'Areeb'
age = 23

PI = 3.14159 # constant (capital)

print ("My name is", name)
print ("My age is", age)
print (PI)

My name is Areeb
My age is 23
3.14159

In [4]:
# Input and output function
name = input ("Enter your name: ") # input function
print ("My name is", name) # output function

print (type(name))

Enter your name: Areeb
My name is Areeb
<class 'str'>

In [5]:
# Primitive data type
x = 10 # integer
y = 10.01 # float
z = 4 +3j # imaginary

print ("Real number is", z.real)
print ("Imaginary number is", z.imag)

Real number is 4.0
Imaginary number is 3.0

In [6]:
# String

sentence = "This is my second class of Python language"
print ("First letter:", sentence[0])
print ("Here is:", sentence[-15])


greeting = "Python" + "language"
print (greeting)


repeat = "Python" * 3
print (repeat)


print("Sliced string:", sentence[0:4])
print("Sliced string:", sentence[0:23])


print ("Lower case:", sentence.lower())
print ("Upper case:", sentence.upper())


print ("replace:", sentence.replace("Python", "C++"))

First letter: T
Here is: P
Pythonlanguage
PythonPythonPython
Sliced string: This
Sliced string: This is my second class
Lower case: this is my second class of python language
Upper case: THIS IS MY SECOND CLASS OF PYTHON LANGUAGE
replace: This is my second class of C++ language

In [8]:
# Collect Data Types

# List
numbers = [1, 2, 3, 4, 5]

numbers.append(6)
print (numbers)

# List slicing
numbers[:3] # 0, 1, 2

[1, 2, 3, 4, 5, 6]

[1, 2, 3]

In [9]:
# Tuple
numbers = (1, 2, 3, 4, 5)

print (numbers)
print (numbers[:3])

(1, 2, 3, 4, 5)
(1, 2, 3)

In [10]:
# Sets
numbers = {1, 2, 3, 4, 5}

numbers.add(5)

print (numbers)

{1, 2, 3, 4, 5}

In [13]:
# Dictionary
student = {"name": "random"} # key value pair

student["name"] = "secondRandom"
print (student)

student["age"] = 23
print(student)

{'name': 'secondRandom'}
{'name': 'secondRandom', 'age': 23}

In [14]:
# Implicit Conversion
a = 10
b = 2.3

sum = a + b
print(sum)

print(type(sum))

12.3
<class 'float'>

In [15]:
# Explicit Conversion
age = "22"
integer = 11

age = int(age)
# integer = str(integer)
# float(age)

print (type(age))

result = age + integer
print (result)

<class 'int'>
33

In [16]:
# Arithmetic Operators

num1 = 10
num2 = 4

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Floor_Division:", num1 // num2)
print("Remainder:", num1 % num2)
print("Modulus:", num1 % num2)
print("Exponent:", num1 ** num2) #power

Addition: 14
Subtraction: 6
Multiplication: 40
Division: 2.5
Floor_Division: 2
Remainder: 2
Modulus: 2
Exponent: 10000

In [17]:
# Comparison Operators

print("Equal:", num1 == num2)
print("Not equal:", num1 != num2)
print("Greater then:", num1 > num2)
print("Less than:", num1 < num2)

Equal: False
Not equal: True
Greater then: True
Less than: False

In [18]:
# Logical Operators

a = True
b = False

print("a AND b:", a and b)
print("a OR b:", a or b)
print("a NOT b:", not b)

a AND b: False
a OR b: True
a NOT b: True

In [19]:
# Assignment Operators

a = 10
a += 5 # a = a + 5
a -= 5 # a = a - 5
a *= 5 # a = a * 5
a /= 5 # a = a / 5

print(a)

10.0

In [20]:
# Length Function

sentence = "A bunch of words"

print (len(sentence))

16

In [21]:
# Split Function

sentence = "A: bunch: of: words"

print (sentence.split(':'))

['A', ' bunch', ' of', ' words']

In [22]:
# Random Function

import random

print(random.randint(1, 10))
print(random.random())

items = ['item1', 'item2', 'item3']
print(random.choice(items))

10
0.31367355998978697
item1