In [1]:
# Condtional statement

age = int(input("Enter your age: "))
if age >= 21:
  print("You are eligible for the vote")

Enter your age: 23
You are eligible for the vote

In [2]:
# If-else statement

age = input ("Enter your age: ")
if int(age) >= 21:
  print ("You are eligible for the vote")
else:
  print ("You are not eligible for the vote")

Enter your age: 23
You are eligible for the vote

In [3]:
# If-else and elif statement

marks = 70
if marks >= 90:
  print("Grade: A")
elif marks >= 80:
  print("Grade: B")
elif marks >= 70:
  print("Grade: C")
elif marks >= 60:
  print("Grade: D")
else:
  print("Grade: F")

Grade: C

In [5]:
# Nested if statement

num = int(input("Enter a number: ")) # 10, -1
if num >=0:
  if num == 0:
    print("Number is zero")
  else:
    print("Number is positive")
else:
  print("Number is negative")

Enter a number: 4
Number is positive

In [6]:
# Conditions

num = 10

if num > 5:
  if num % 2 == 0:
    print(f"The even number {num} is greater than 5")
  else:
    print(f"The odd number {num} is greater than 5")

The even number 10 is greater than 5

In [7]:
is_adult = True
has_voter_id = False

if is_adult and has_voter_id:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are not eligible to vote

In [8]:
# Ternary Operator
# A shorthand way of writing a single if-else statement

age = 30

message = "Adult" if age >= 18 else "Not Adult"
print(message)

Adult

In [9]:
# Match-case
# Traffic Signal

colour = input("Enter the colour:")
colour = colour.lower()

match colour:
  case 'red':
    print("Stop")
  case 'yellow':
    print("Get ready")
  case 'green':
    print("Go")
  case _:
    print("Wrong")

Enter the colour:red
Stop

In [10]:
# For a loop on a list

fruits = ["Apples", "Oranges", "Mangoes"]

for myChoice in fruits:
  print(myChoice)

Apples
Oranges
Mangoes

In [12]:
# For a loop on a string

word = "Miami"
for letters in word:
  print(letters)

M
i
a
m
i

In [13]:
# For a loop on a dictionary

connections = {"Fruit":"Date", "Car":"Lamborghini", "City":"LA"}

for swag, type in connections.items():
  print(f"{swag}: {type}")

Fruit: Date
Car: Lamborghini
City: LA

In [14]:
# range

for i in range(1, 11): # 11 is not include in the output
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# while loop

count = 0;

while count < 5:
  print(f"Count: {count}")
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [16]:
# run a loop infine times

while True:
  user_input = input("Press 'q' to exit ")
  if user_input == "q":
    print("\nExiting the loop\nCiao")
    break

Press 'q' to exit 1
Press 'q' to exit q

Exiting the loop
Ciao

In [17]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [18]:
# a loop inside a loop

for i in range(3):
  for j in range(3):
    print(i, j)

    # 3x3 matrix

    # (0,0) (0,1) (0, 2)
    # (1,0) (1,1) (1, 2)
    # (2,0) (2,1) (2, 2)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [19]:
for i in range(1, 6): # outer loop
  for j in range(1, 13): # inner loop
    print(f"{j} x {i} = {i * j}")
  print()

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
11 x 1 = 11
12 x 1 = 12

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
11 x 2 = 22
12 x 2 = 24

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
11 x 3 = 33
12 x 3 = 36

1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
11 x 4 = 44
12 x 4 = 48

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60

In [20]:
# loop else statement

for i in range(5):
  print(i)
else:
  print("End of the line")

0
1
2
3
4
End of the line

In [21]:
# search functionality

num = [1,2,3,4,5]
search = 7

for nums in num:
  if nums == search:
    print(f"Congratulations: found {search}")
    break
else:
  print(f"Error: your search item {search} was not found")

Error: your search item 7 was not found

In [22]:
# defining a functions in Python

def greet():
  print("Assalam u Alaikum, I am learning Python with instructor Umair")

greet()

Assalam u Alaikum, I am learning Python with instructor Umair

In [24]:
def greet(name):
  print(f"Assalam u Alaikum, {name} is learning Python")

greet("Areeb")

Assalam u Alaikum, Areeb is learning Python

In [26]:
def add(a, b):
  return a + b
print(add(3, 5))

def display_info(name, age = 101):
  print(f"\nName: {name}, Age: {age}")
display_info(name = "Areeb", age = 23)

8

Name: Areeb, Age: 23

In [27]:
def my_function():
  pass

result = my_function()
print(result)

None

In [29]:
# arbitrary arguments

def print_arg(*args):
  for arg in args:
    print(arg)
print_arg(1, 2, 3, 4, 5)

def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")
print_kwargs(name = "Areeb", age = 23)

1
2
3
4
5
name: Areeb
age: 23

In [30]:
# lambda function
# one liner function

square = lambda x: x ** 2
print(square(5))   # x = 5

25